.headerContainer{
    width: 80%;
    margin: 0 auto; 

}


body { 
    margin: 0; 
}


#right {
    display:flex; 
}
#right img{
    flex: 1;
    object-fit: cover;
    max-height: calc(214px + 1rem);
    border-radius: 7px;
}