* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}


.container { 
    display: flex; 
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 24px;

}

.content{ 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

a {
    color: #F9FAF8;  
    text-decoration: none; 
}

ul {
    list-style-type: none;
}

.links {
    display: inline-block;
}

.lists { 
    display: flex; 
    justify-content: space-between;
    gap: 10px; 
}

.logo { 
    font-size: 24px; 
}

h3 {
    font-size: 48px; 
}

.hero { 
    display: flex; 
    margin: auto; 
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}


.content-hero {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.hero-left { 
    display: flex;
    flex-direction: column;
    width: 45%;
}

.hero-right { 
    display: flex; 
    flex-direction: column;
}

img{ 
    max-width: 100%; 
    height: auto; 
}

button { 
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 25px;
    width: 35%; 
    margin-top: 10px;
}



.cards{ 
    display: flex;
    align-items: center;
    flex-direction: column;
}